#* @vtlvariable name="action" type="com.atlassian.confluence.plugins.slack.spacetochannel.actions.SlackViewSpaceConfigurationAction" *#
#requireResource("confluence.web.resources:space-admin")

<html>
<head>
    <title>$i18n.getText("slack2-space-configuration.title")</title>
    <meta name="decorator" content="atl.general"/>
</head>
<body>
#applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode" "view-space-administration")
    #decoratorParam("space" $action.space)

    #applyDecorator("root")
        #decoratorParam("context" "spaceadminpanel")
        #decoratorParam("selection" "slack2-space-configuration")
        #decoratorParam("title" "Slack Configuration")
        #decoratorParam("selectedTab" "admin")
        #decoratorParam("selectedSpaceToolsWebItem" "slack2-space-configuration-2")
        #decoratorParam("helper" $action.helper)

        <div id="slack-space-to-channel-configuration" class="space-to-channel-configuration-container">
        #if(!$action.links.empty)
            #if ($link)
                #set ($templateParameters = {
                    "space": $action.space,
                    "links": $action.links,
                    "configs": $action.configs,
                    "slackUserName": $action.slackUserName,
                    "routes": $action.routes,
                    "link": $action.link,
                    "notificationTypes": $action.notificationTypes
                })
            #else
                #set ($templateParameters = {
                    "space": $action.space,
                    "links": $action.links,
                    "configs": $action.configs,
                    "slackUserName": $action.slackUserName,
                    "routes": $action.routes,
                    "notificationTypes": $action.notificationTypes
                })
            #end

            <div class="slack-configuration-page">
                $soyTemplateRendererHelper.getRenderedTemplateHtml("com.atlassian.confluence.plugins.confluence-slack-server-integration-plugin:slack-soy-server-resources", "Confluence.Templates.Slack.SpaceToChannel.Config.configureMappings.soy", $templateParameters)
                #requireResource("com.atlassian.confluence.plugins.confluence-slack-server-integration-plugin:slack-resources")
            </div>
        #else
            <p>$i18n.getText("slack2-space-configuration.not-connected", $action.routes.adminConfigurationPage)</p>
        #end
        </div>
    #end
#end
</body>
</html>
