/* Import global CSS variables */
@import "global.css";

:root {
  --icon-colour: var(--medium-gray-color);
}

button.migrate-to-slack {
  vertical-align: bottom;
  padding: 4px;
  margin: 0;
  line-height: 0;
}

button.migrate-to-slack .slack-logo-image {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

button.migrate-to-slack .slack-logo-image:not(.migrated) {
  background-image: url("images/slack-logo.svg");
}

button.migrate-to-slack .slack-logo-image.migrated {
  background-image: url("images/slack-logo-check.svg");
}

#hipchat-room-configuration table .inline-toolbar .wrap {
  max-width: 250px !important;
}

#migrate-to-slack-dialog .dialog-errors {
  color: var(--warm-red-color);
  padding: 5px 20px;
}

#migrate-to-slack-dialog .slack-button-spinner {
  display: none;
  padding-left: 40px;
  vertical-align: middle;
}

#migrate-to-slack-dialog .item-team {
  float: right;
  font-weight: 700;
}

#migrate-to-slack-dialog form.slack-channel-select-form {
  padding: 0;
  display: flex;
}

#migrate-to-slack-dialog form.slack-channel-select-form .field-group {
  padding: 10px 0;
}

#migrate-to-slack-dialog form.slack-channel-select-form .mapping-arrow-column {
  flex-grow: 0;
  padding-top: 56px;
}

#migrate-to-slack-dialog form.slack-channel-select-form .mapping-arrow {
  color: var(--icon-colour);
}

#migrate-to-slack-dialog form.slack-channel-select-form .aui-item {
  padding: 20px 20px 5px;
  flex-grow: 1;
}

#migrate-to-slack-dialog form.slack-channel-select-form .room-name {
  padding: 4px;
  margin-top: 11px;
  border: 1px solid var(--divider-color);
  border-radius: 3px;
  background-color: var(--light-gray-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
}

#migrate-to-slack-dialog .form-footer .throbber {
  margin-bottom: 0;
}

#migrate-to-slack-dialog .dialog-panel-body p {
  padding: 20px;
}