#slack-project-to-channel-add-select-suggestions .aui-list-item-li-filler {
  display: none;
}

#slack-project-to-channel-add-select-suggestions .aui-lozenge {
  float: right;
  margin-top: 2px;
}

#slack-project-to-channel-add-select-suggestions .aui-list-item-link {
  padding-left: 32px;
  background: no-repeat 10px center;
}

#slack-project-to-channel-add-select-suggestions .active .aui-list-item-link {
  background-color: var(--ds-background-selected);
}

#slack-project-to-channel-add-select-suggestions .active .aui-list-item-link.public-channel {
  background-image: url("images/public_channel_active.png");
}

#slack-project-to-channel-add-select-suggestions .active .aui-list-item-link.private-channel {
  background-image: url("images/private_channel_active.png");
}

#slack-project-to-channel-add-select-single-select .aui-ss-field.public-channel,
#slack-project-to-channel-add-select-single-select .aui-ss-field.private-channel {
  padding-left: 25px;
  background: no-repeat 5px center;
}

#slack-project-to-channel-add-select-single-select .aui-ss-field.public-channel,
#slack-project-to-channel-add-select-suggestions .aui-list-item-link.public-channel {
  background-image: url("images/public_channel.png");
}

#slack-project-to-channel-add-select-single-select .aui-ss-field.private-channel,
#slack-project-to-channel-add-select-suggestions .aui-list-item-link.private-channel {
  background-image: url("images/private_channel.png");
}

#slack-project-to-channel-add-select-single-select .aui-ss-field.suggest-create-channel,
#slack-project-to-channel-add-select-suggestions .aui-list-item-link.suggest-create-channel {
  padding-left: 10px;
}

.aui-list .slack-login-dropdown-footer {
  border-left: 5px solid var(--ds-background-warning-bold);
  padding-left: 10px;
  margin: 10px;
}

.aui-list .slack-login-dropdown-footer.error {
  border-left-color: var(--ds-border-danger);
}

.aui-list .slack-login-dropdown-footer a,
.aui-list .slack-login-dropdown-footer a:hover {
  text-decoration: none;
  color: #3572b0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  #slack-project-to-channel-add-select-suggestions .active .aui-list-item-link.public-channel {
    background-image: url("images/public_channel_active@2x.png");
  }

  #slack-project-to-channel-add-select-suggestions .active .aui-list-item-link.private-channel {
    background-image: url("images/private_channel_active@2x.png");
  }

  #slack-project-to-channel-add-select-single-select .aui-ss-field.public-channel,
  #slack-project-to-channel-add-select-suggestions .aui-list-item-link.public-channel {
    background-size: 16px;
    background-image: url("images/public_channel@2x.png");
  }

  #slack-project-to-channel-add-select-single-select .aui-ss-field.private-channel,
  #slack-project-to-channel-add-select-suggestions .aui-list-item-link.private-channel {
    background-size: 16px;
    background-image: url("images/private_channel@2x.png");
  }
}