/* Import global CSS variables */
@import "../../../slack-less/global.css";

#slack-project-to-workspace-add-select-suggestions .aui-list-item-li-filler {
  display: none;
}

#slack-project-to-workspace-add-select-suggestions .aui-lozenge {
  float: right;
  margin-top: 2px;
}

#slack-project-to-workspace-add-select-suggestions .aui-list-item-link {
  padding-left: 32px;
  background: no-repeat 10px center;
}

#slack-project-to-workspace-add-select-suggestions .active .aui-list-item-link {
  background-color: #3b73af;
}

.aui-list .slack-login-dropdown-footer {
  border-left: 5px solid var(--cheeto-orange-color);
  padding-left: 10px;
  margin: 10px;
}

.aui-list .slack-login-dropdown-footer.error {
  border-left-color: var(--warm-red-color);
}

.aui-list .slack-login-dropdown-footer a,
.aui-list .slack-login-dropdown-footer a:hover {
  text-decoration: none;
  color: #3572b0;
}