name: Bitbucket Integration Tests
on:
  workflow_dispatch:
    inputs:
      ref:
        description: Branch/tag/hash to use (defaults to master)
        required: false
        default: master
      java-version:
        description: JDK version to use
        required: true
      product-version:
        description: Bitbucket version to run tests against
        required: true

jobs:
  integration-tests-bitbucket:
    name: Bitbucket Integration Tests
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - run: echo 'Github event inputs [${{ toJson(github.event.inputs) }}].'
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
      # Dec 13, 2022
      # latest Bitbucket 8.6.1 doesn't support latest git 2.38.1 installed on the Ubuntu 20 image Github provides
      # install last supported git - 2.37.4; remove this trick once Bitbucket implements support for latest git
      # https://confluence.atlassian.com/bitbucketserver/supported-platforms-776640981.html#Supportedplatforms-dvcsDVCS
      - run: bin/build/install-supported-git.sh
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ github.event.inputs.java-version }}
          distribution: adopt
      - run: bin/build/install-plugin-sdk.sh
      - run: bin/build/override-plugin-sdk-maven.sh
      - run: bin/build/install-int-test-libs.sh
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-unit
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository/com/atlassian/bitbucket
          key: maven-integration-bitbucket-${{ github.event.inputs.product-version }}
      - run: bin/build/install-common-modules.sh
      - run: |
          VERSION=${{ github.event.inputs.product-version }} \
          bin/build/run-bitbucket-its.sh
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: webdriver-screenshots-bitbucket-${{ github.event.inputs.product-version }}-java-${{ github.event.inputs.java-version }}
          path: bitbucket-slack-server-integration-plugin/target/webdriverTests/**
